<div class="container">

  <div class="blue-container">

    <div class="logo">
      <svg width="298" height="90" viewBox="0 0 298 90" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.088 43.056C18.2624 43.056 14.1232 42.1824 10.6704 40.4352C7.2176 38.6464 4.576 36.1504 2.7456 32.9472C0.9152 29.7024 0 25.896 0 21.528C0 17.16 0.9152 13.3744 2.7456 10.1712C4.576 6.9264 7.2176 4.4304 10.6704 2.6832C14.1232 0.8944 18.2624 0 23.088 0C27.7888 0 31.8032 0.7072 35.1312 2.1216C38.5008 3.536 41.08 5.5744 42.8688 8.2368C44.6576 10.8992 45.552 14.1024 45.552 17.8464V18.9072H32.448V17.8464C32.448 15.4752 31.7824 13.7904 30.4512 12.792C29.12 11.752 26.728 11.232 23.2752 11.232C20.4464 11.232 18.2416 11.5232 16.6608 12.1056C15.1216 12.6464 14.04 13.6656 13.416 15.1632C12.792 16.6192 12.48 18.7408 12.48 21.528C12.48 24.2736 12.792 26.3952 13.416 27.8928C14.04 29.3904 15.1216 30.4304 16.6608 31.0128C18.2416 31.5536 20.4464 31.824 23.2752 31.824C26.728 31.824 29.12 31.3248 30.4512 30.3264C31.7824 29.2864 32.448 27.5808 32.448 25.2096V24.1488H45.552V25.2096C45.552 28.912 44.6576 32.1152 42.8688 34.8192C41.08 37.4816 38.5008 39.52 35.1312 40.9344C31.8032 42.3488 27.7888 43.056 23.088 43.056Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M168.843 31.8864H180.262C183.59 31.8864 186.46 31.2832 188.873 30.0768C191.286 28.8288 193.137 27.04 194.427 24.7104C195.758 22.3392 196.424 19.5104 196.424 16.224C196.424 12.896 195.758 10.088 194.427 7.8C193.137 5.4704 191.286 3.7024 188.873 2.496C186.46 1.248 183.59 0.623999 180.262 0.623999H168.843V11.1696H161.043V0.623999H157.111V42.432H168.843V31.8864ZM168.843 21.3408V11.1696H178.952C181.032 11.1696 182.508 11.4816 183.382 12.1056C184.297 12.7296 184.755 14.1024 184.755 16.224C184.755 18.3872 184.297 19.7808 183.382 20.4048C182.508 21.0288 181.032 21.3408 178.952 21.3408H168.843Z" fill="white"/>
        <path d="M161.043 0.623999V11.1696H168.843V0.623999H161.043Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M198.915 42.432H202.097H210.646H236.043V31.8864H210.646V26.6448H235.107V16.1616H210.646V11.1696H236.043V0.623999H210.646V11.1696H202.097V0.623999H198.915V42.432Z" fill="white"/>
        <path d="M210.646 0.623999H202.097V11.1696H210.646V0.623999Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M253.23 42.432H264.961V11.1696H279.688V0.623999H264.961V11.1696H253.23V0.623999H238.441V11.1696H253.23V42.432Z" fill="white"/>
        <path d="M264.961 0.623999H253.23V11.1696H264.961V0.623999Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M282.521 12.6048H289.198V13.4784C289.198 14.3936 289.01 14.9968 288.636 15.288C288.303 15.5792 287.762 15.7248 287.014 15.7248H283.082V22.9632H287.388C290.674 22.9632 293.212 22.1728 295.001 20.592C296.831 19.0112 297.746 16.6192 297.746 13.416V12.6048H289.198V11.1696H297.746V0.623999H282.521V12.6048Z" fill="white"/>
        <path d="M297.746 12.6048V11.1696H289.198V12.6048H297.746Z" fill="white"/>
        <path d="M109.429 42.432V29.0739C108.657 27.2035 107.62 25.4567 106.361 23.8737C103.6 24.8214 101.221 26.5106 99.5 28.6836C101.341 31.0075 102.429 33.8847 102.429 37C102.429 38.9266 102.013 40.7621 101.26 42.432H109.429Z" fill="#FCB131"/>
        <path d="M106.361 23.8737C104.508 21.5451 102.176 19.5711 99.5 18.0805C98.8802 18.4258 98.2787 18.7971 97.6974 19.1926V26.7919C98.3572 27.3697 98.9608 28.0029 99.5 28.6836C101.221 26.5106 103.6 24.8214 106.361 23.8737Z" fill="#FCB131"/>
        <path d="M97.6974 19.1926V17.1736C96.5114 16.638 95.27 16.1929 93.9834 15.8479C94.3739 17.617 94.5692 19.5104 94.5692 21.528C94.5692 21.6001 94.5689 21.672 94.5684 21.7438C95.5283 20.8104 96.5754 19.9562 97.6974 19.1926Z" fill="#FCB131"/>
        <path d="M97.6974 26.7919V19.1926C96.5754 19.9562 95.5283 20.8104 94.5684 21.7438C94.5616 22.7267 94.508 23.6809 94.4077 24.6064C95.6098 25.1948 96.7157 25.932 97.6974 26.7919Z" fill="#FCB131"/>
        <path d="M99.5 18.0805C98.9151 17.7547 98.3137 17.4519 97.6974 17.1736V19.1926C98.2787 18.7971 98.8802 18.4258 99.5 18.0805Z" fill="#FCB131"/>
        <path d="M81.3336 15.7652C73.359 17.7899 67.0685 23.6465 64.8567 31.0931C66.3799 31.5804 68.484 31.824 71.1692 31.824C72.0626 31.824 72.8937 31.797 73.6626 31.7431C75.1908 28.2213 78.2084 25.4148 81.9836 24.0087C82.054 23.2478 82.0892 22.4209 82.0892 21.528C82.0892 19.1034 81.8373 17.1824 81.3336 15.7652Z" fill="#FCB131"/>
        <path d="M73.6626 31.7431C72.8937 31.797 72.0626 31.824 71.1692 31.824C68.484 31.824 66.3799 31.5804 64.8567 31.0931C64.2984 32.9728 64 34.9538 64 37C64 38.8855 64.2534 40.7156 64.73 42.4621C66.7255 42.858 68.8719 43.056 71.1692 43.056C72.1387 43.056 73.0792 43.023 73.9907 42.9571C73.0799 41.15 72.5706 39.1307 72.5706 37C72.5706 35.1405 72.9585 33.3659 73.6626 31.7431Z" fill="#FCB131"/>
        <path d="M87.5 23.0236C89.306 23.0236 91.037 23.3237 92.6394 23.8737C93.2343 23.1257 93.8789 22.4143 94.5684 21.7438C94.5689 21.672 94.5692 21.6001 94.5692 21.528C94.5692 19.5104 94.3739 17.617 93.9834 15.8479C91.924 15.2957 89.7489 15 87.5 15C85.3662 15 83.2988 15.2662 81.3336 15.7652C81.8373 17.1824 82.0892 19.1034 82.0892 21.528C82.0892 22.4209 82.054 23.2478 81.9836 24.0087C83.6901 23.373 85.5515 23.0236 87.5 23.0236Z" fill="#0081C9"/>
        <path d="M94.4077 24.6064C94.508 23.6809 94.5616 22.7267 94.5684 21.7438C93.8789 22.4143 93.2343 23.1257 92.6394 23.8737C93.2484 24.0828 93.8388 24.3279 94.4077 24.6064Z" fill="#0081C9"/>
        <path d="M81.0908 27.8928C80.4668 29.3904 79.3644 30.4304 77.7836 31.0128C76.702 31.3828 75.3284 31.6262 73.6626 31.7431C72.9585 33.3659 72.5706 35.1405 72.5706 37C72.5706 39.1307 73.0799 41.15 73.9907 42.9571C77.7723 42.6837 81.0542 41.8431 83.8364 40.4352C85.3923 39.6387 86.7833 38.702 88.0093 37.6251C88.0031 37.4174 88 37.2091 88 37C88 32.0804 89.7249 27.5379 92.6394 23.8737C91.037 23.3237 89.306 23.0236 87.5 23.0236C85.5515 23.0236 83.6901 23.373 81.9836 24.0087C81.8375 25.5875 81.5399 26.8822 81.0908 27.8928Z" fill="#0081C9"/>
        <path d="M92.6394 23.8737C89.7249 27.5379 88 32.0804 88 37C88 37.2091 88.0031 37.4174 88.0093 37.6251C89.5368 36.2834 90.8082 34.7241 91.8236 32.9472C93.2101 30.4892 94.0715 27.7089 94.4077 24.6064C93.8388 24.3279 93.2484 24.0828 92.6394 23.8737Z" fill="#0081C9"/>
        <path d="M50.7644 32.9472C52.5948 36.1504 55.2364 38.6464 58.6892 40.4352C60.52 41.3506 62.5336 42.0263 64.73 42.4621C64.2534 40.7156 64 38.8855 64 37C64 34.9538 64.2984 32.9728 64.8567 31.0931C64.7752 31.067 64.6953 31.0403 64.6172 31.0128C63.078 30.4304 61.9964 29.3904 61.3724 27.8928C60.79 26.3952 60.4988 24.2736 60.4988 21.528C60.4988 18.7408 60.79 16.6192 61.3724 15.1632C61.9964 13.6656 63.078 12.6464 64.6172 12.1056C66.1564 11.5232 68.3404 11.232 71.1692 11.232C73.998 11.232 76.2028 11.5232 77.7836 12.1056C79.3644 12.6464 80.4668 13.6656 81.0908 15.1632C81.1773 15.3526 81.2583 15.5533 81.3336 15.7652C83.2988 15.2662 85.3662 15 87.5 15C89.7489 15 91.924 15.2957 93.9834 15.8479C93.5284 13.787 92.8085 11.8948 91.8236 10.1712C89.9932 6.9264 87.3308 4.4304 83.8364 2.6832C80.3836 0.8944 76.1612 0 71.1692 0C66.3436 0 62.1836 0.8944 58.6892 2.6832C55.2364 4.4304 52.5948 6.9264 50.7644 10.1712C48.934 13.3744 48.0188 17.16 48.0188 21.528C48.0188 25.896 48.934 29.7024 50.7644 32.9472Z" fill="#0081C9"/>
        <path d="M109.803 18.1584H108.992L109.305 23.1735C110.007 23.0768 110.724 23.0257 111.454 23.0236L109.803 18.1584Z" fill="#00A651"/>
        <path d="M121.285 17.9712L125.403 28.7664H126.214L128.682 21.9908C126.471 19.7733 123.775 17.9843 120.754 16.7713L121.285 17.9712Z" fill="#00A651"/>
        <path d="M137.446 0.623999L130.145 17.9712L128.682 21.9908C132.067 25.3855 134.318 29.7844 134.868 34.6581L138.881 25.1472L141.253 18.1584H142.064L141.627 25.1472V42.432H153.358V0.623999H137.446Z" fill="#ED1B2F"/>
        <path d="M99.5 28.6836C98.9608 28.0029 98.3572 27.3697 97.6974 26.7919V31.6636C98.1683 30.5975 98.776 29.5977 99.5 28.6836Z" fill="black"/>
        <path d="M125.403 28.7664L121.285 17.9712L120.754 16.7713C117.914 15.6313 114.786 15 111.5 15C107.116 15 103.012 16.1238 99.5 18.0805C102.176 19.5711 104.508 21.5451 106.361 23.8737C107.301 23.5508 108.287 23.314 109.305 23.1735L108.992 18.1584H109.803L111.454 23.0236L111.5 23.0236C117.798 23.0236 123.185 26.6745 125.379 31.839L126.214 28.7664H125.403Z" fill="black"/>
        <path d="M128.682 21.9908L126.214 28.7664L125.379 31.839C126.057 33.4357 126.429 35.1771 126.429 37C126.429 38.0071 126.316 38.9893 126.099 39.936H132.641L134.868 34.6581C134.318 29.7844 132.067 25.3855 128.682 21.9908Z" fill="#ED1B2F"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M97.6974 42.3364V31.6636C98.1683 30.5975 98.776 29.5977 99.5 28.6836C101.341 31.0075 102.429 33.8847 102.429 37C102.429 38.9266 102.013 40.7621 101.26 42.432H97.7401H97.6974V42.3364ZM118.414 39.936H123.176L125.379 31.839C123.185 26.6745 117.798 23.0236 111.5 23.0236L111.454 23.0236L112.174 25.1472L118.414 39.936ZM113.609 0.623999L120.754 16.7713C117.914 15.6313 114.786 15 111.5 15C107.116 15 103.012 16.1238 99.5 18.0805C98.9151 17.7547 98.3137 17.4519 97.6974 17.1736V0.623999H113.609ZM109.429 29.0739C108.657 27.2035 107.62 25.4567 106.361 23.8737C107.301 23.5508 108.287 23.314 109.305 23.1735L109.429 25.1472V29.0739Z" fill="black"/>
        <path d="M123.176 39.936H126.099C126.316 38.9893 126.429 38.0071 126.429 37C126.429 35.1771 126.057 33.4357 125.379 31.839L123.176 39.936Z" fill="#ED1B2F"/>
        <path d="M178.402 89.808H166.671V48H178.402V89.808Z" fill="white"/>
        <path d="M34.1023 48H25.5535V58.5456H34.1023V48Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M182.149 89.808H185.394V79.2624H193.88V89.808H218.029V79.2624H193.88V48H182.149V89.808Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M221.149 89.808H224.394V79.2624H232.88V89.808H257.029V79.2624H232.88V48H221.149V89.808Z" fill="white"/>
        <path d="M185.394 89.808H193.88V79.2624H185.394V89.808Z" fill="white"/>
        <path d="M224.394 89.808H232.88V79.2624H224.394V89.808Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M260.149 59.9808H266.826V60.8544C266.826 61.7696 266.639 62.3728 266.264 62.664C265.932 62.9552 265.391 63.1008 264.642 63.1008H260.711V70.3392H265.016C268.303 70.3392 270.84 69.5488 272.629 67.968C274.46 66.3872 275.375 63.9952 275.375 60.792V59.9808H266.826V58.5456H275.375V48H260.149V59.9808Z" fill="white"/>
        <path d="M275.375 59.9808V58.5456H266.826V59.9808H275.375Z" fill="white"/>
        <path d="M102.289 48C101.236 47.2265 100.298 46.3234 99.5 45.3164C98.7024 46.3234 97.7636 47.2265 96.711 48H102.289Z" fill="#00A651"/>
        <path d="M106.361 50.1263C105.901 49.9686 105.453 49.7905 105.016 49.593V51.6668C105.488 51.1729 105.937 50.6588 106.361 50.1263Z" fill="#00A651"/>
        <path d="M99.5 45.3164C98.7977 44.4296 98.2048 43.4623 97.7401 42.432H97.6974V42.3364C96.9713 40.6921 96.5706 38.8899 96.5706 37C96.5706 35.1101 96.9713 33.3079 97.6974 31.6636V26.7919C96.7157 25.932 95.6098 25.1948 94.4077 24.6064C94.0715 27.7089 93.2101 30.4892 91.8236 32.9472C90.8082 34.7241 89.5368 36.2834 88.0093 37.6251C88.1488 42.3041 89.8487 46.6178 92.6394 50.1263C92.8569 50.0516 93.0721 49.9723 93.2848 49.8885V48H96.711C97.7636 47.2265 98.7024 46.3234 99.5 45.3164Z" fill="#00A651"/>
        <path d="M111 37C111 34.2057 110.444 31.533 109.429 29.0739V42.432H101.26C100.795 43.4623 100.202 44.4296 99.5 45.3164C100.298 46.3234 101.236 47.2265 102.289 48H105.016V49.593C105.453 49.7905 105.901 49.9686 106.361 50.1263C109.275 46.4621 111 41.9196 111 37Z" fill="#FCB131"/>
        <path d="M111.5 50.9764C109.694 50.9764 107.963 50.6763 106.361 50.1263C105.937 50.6588 105.488 51.1729 105.016 51.6668V58.1519C107.076 58.7042 109.251 59 111.5 59C114.108 59 116.617 58.6023 118.961 57.8682L115.941 50.3476C114.538 50.7563 113.047 50.9764 111.5 50.9764Z" fill="#00A651"/>
        <path d="M115.941 50.3476L118.961 57.8682C123.4 56.4779 127.248 53.8811 130.062 50.4936L129.163 48H120.711C119.303 49.0349 117.691 49.8379 115.941 50.3476Z" fill="#00A651"/>
        <path d="M135 37C135 36.2089 134.955 35.4276 134.868 34.6581L132.641 39.936H126.099C125.357 43.1867 123.407 46.0184 120.711 48H129.163L130.062 50.4936C133.157 46.7677 135 42.0854 135 37Z" fill="#00A651"/>
        <path d="M92.6394 50.1263C92.8484 50.3891 93.0637 50.6475 93.2848 50.9011V49.8885C93.0721 49.9723 92.8569 50.0516 92.6394 50.1263Z" fill="#00A651"/>
        <path d="M92.6394 50.1263C91.037 50.6763 89.306 50.9764 87.5 50.9764C81.5307 50.9764 76.3796 47.6967 73.9907 42.9571C73.0792 43.023 72.1387 43.056 71.1692 43.056C68.8719 43.056 66.7255 42.858 64.73 42.4621C65.2663 44.4273 66.0852 46.2867 67.1439 48H75.3136L83.1916 58.6311C84.5883 58.8734 86.0284 59 87.5 59C89.4962 59 91.4342 58.767 93.2848 58.3285V50.9011C93.0637 50.6475 92.8484 50.3891 92.6394 50.1263Z" fill="#FCB131"/>
        <path d="M75.3136 48H67.1439C70.5197 53.4633 76.333 57.4414 83.1916 58.6311L75.3136 48Z" fill="#FCB131"/>
        <path d="M131.784 89.808H148.632L165.418 48H151.315L140.77 77.952H139.959L130.062 50.4936C127.248 53.8811 123.4 56.4779 118.961 57.8682L131.784 89.808Z" fill="white"/>
        <path d="M114.999 48L115.941 50.3476C117.691 49.8379 119.303 49.0349 120.711 48H114.999Z" fill="white"/>
        <path d="M62.8336 89.808H74.5648V73.4592L74.0656 65.472H74.8768L80.1808 73.7088L92.536 89.808H105.016V58.1519C103.061 57.6277 101.21 56.8723 99.5 55.9195C97.5869 56.9852 95.4984 57.8039 93.2848 58.3285V64.1616L93.8464 73.272H93.0352L86.92 63.6624L83.1916 58.6311C76.333 57.4414 70.5197 53.4633 67.1439 48H62.8336V89.808Z" fill="white"/>
        <path d="M99.5 55.9195C101.21 56.8723 103.061 57.6277 105.016 58.1519V51.6668C103.423 53.3326 101.564 54.7698 99.5 55.9195Z" fill="white"/>
        <path d="M93.2848 58.3285C95.4984 57.8039 97.5869 56.9852 99.5 55.9195C97.1263 54.5971 95.0226 52.8944 93.2848 50.9011V58.3285Z" fill="white"/>
        <path d="M105.016 49.593C104.044 49.1534 103.13 48.6181 102.289 48H96.711C95.6712 48.7642 94.5203 49.4019 93.2848 49.8885V50.9011C95.0226 52.8944 97.1263 54.5971 99.5 55.9195C101.564 54.7698 103.423 53.3326 105.016 51.6668V49.593Z" fill="white"/>
        <path d="M96.711 48H93.2848V49.8885C94.5203 49.4019 95.6712 48.7642 96.711 48Z" fill="white"/>
        <path d="M105.016 49.593V48H102.289C103.13 48.6181 104.044 49.1534 105.016 49.593Z" fill="white"/>
        <path d="M34.1023 89.808H59.4991V79.2624H34.1023V89.808Z" fill="white"/>
        <path d="M59.4991 48H34.1023V58.5456H59.4991V48Z" fill="white"/>
        <path d="M22.3711 89.808H25.5535V79.2624H34.1023V74.0208H25.5535V63.5376H34.1023V58.5456H25.5535V48H22.3711V89.808Z" fill="white"/>
        <path d="M25.5535 63.5376V74.0208H34.1023V63.5376H25.5535Z" fill="white"/>
        <path d="M58.5631 74.0208V63.5376H34.1023V74.0208H58.5631Z" fill="white"/>
        <path d="M25.5535 89.808H34.1023V79.2624H25.5535V89.808Z" fill="white"/>
      </svg>
    </div>



    <div class="content">
      <h1 class="title">
        Vous aimez les sports collectifs comme le football ?
      </h1>

      <p class="desc">
        Compet’ en vill’ est une application gratuite pour faciliter l’organisation des rencontres entre vos équipes !
        Réunissez vous sur les city-stades pour  jouer à plusieurs contre les équipes prêtes à vous affronter.
      </p>
    </div>

    <div class="registants">
      <h2 class="count"><%= @registrants_count %> </h2>
      <h3 class="text">Participants</h3>
    </div>

    <div class="deco">

    </div>

  </div>

  <div class="form-container">
    <%= form_with model: @registrant, class:"form" do |form| %>
      <%= form.label :email, "Email", id: "email-label" %>
      <%= form.text_field :email, id: "email-input", placeholder: "compet.en.vill@gmail.com" %>
      <%= form.submit "Nous Rejoindre", id: "submit" %>
    <% end %>

  </div>



</div>
