<div class="container" data-form-target="container" data-action="click->form#hidePopup">
  <div id="ball">
    <%= image_tag "svg/Ball.svg" %>
  </div>

  <div class="blue-container">

    <div class="deco"></div>

    <div class="logo">
      <%= image_tag "svg/LogoCEV.svg" %>
    </div>

    <div class="content">
      <h1 class="title">
        Vous facilite l'organisation de matchs au city-stade&nbsp;!
      </h1>

      <p class="desc">
        C'est la garantie de venir pour jouer...
        Avec tes potes, vous pourrez affronter d'autres équipes.
        Vos scores resterons gravés sur les terrains proches de chez vous.
      </p>
    </div>

    <div class="registants">
      <h2 class="count" data-form-target="counter"><%= @registrants_count %> </h2>
      <h3 class="text">Déjà inscrits</h3>
      <%# <p class="desc"> inscrits à la Newsletter pour être prévenu de la sortie! SOON</p> %>
    </div>
  </div>

  <div class="white-container">
    <div id="ball-laptop">
      <%= image_tag "svg/Ball_final.svg" %>
    </div>

    <p class="desc">Inscris-toi pour rester informé(e), <br> Compet' en Vill' sort bientôt !</p>

    <%= form_with model: @registrant, class: "form" do |form| %>
      <div id="email-div">
        <%= form.label :email, "E-mail", id: "email-label", data: { form_target: "label"} %>
        <%= form.text_field :email, id: "email-input", data: { form_target: "input", action: "focusin->form#focusIn focusout->form#focusOut"} %>
      </div>
      <p id="submit" data-action="click->form#displayPopup">Rejoins-nous</p>
    <% end %>


  </div>



</div>
