<!DOCTYPE html>
<html>
  <head>
    <title>Compet en Vill</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">

      <!-- Primary Meta Tags -->
      <title>Meta Tags — Preview, Edit and Generate</title>
      <meta name="title" content="<%= meta_title %>">
      <meta name="description" content="<%= meta_description%>">

      <!-- Facebook Open Graph data -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="<%= request.original_url %>">
      <meta property="og:title" content="<%= meta_title %>">
      <meta property="og:description" content="<%= meta_description %>" >
      <meta property="og:image" content="<%= meta_image %>">

      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="<%= request.original_url %>">
      <meta property="twitter:title" content="<%= meta_title %>">
      <meta property="twitter:description" content="<%= meta_description %>">
      <meta property="twitter:image" content="<%= meta_image %>">


    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body data-controller="form">

      <%= render "shared/flashes" %>
      <%= yield %>

      <div class="footer">
        <p>contact@competenvill.com</p>
        <p>Compet' en Vill', 2022 </p>
        <p>69001 Lyon</p>
      </div>


  </body>
</html>
